{% extends 'base.html' %}

{% block title %}Leave Feedback For {{ to_user.username }}{% endblock %}

{% block content %}
<h1 class="display-3">Leave Feedback For {{ to_user.username }}</h1>
<p class="lead"><a href="/users/{{to_user.username}}">Go Back</a></p>

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">
        {{ error }}
        </span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success">Send Feedback</button>
</form>
{% endblock %}